.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #feffec;
    padding: 2rem;
}

h2 {
    font-size: 2rem;
}

.container > p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.skills-container {
    display: flex;
    flex-direction: row;
}

.skill-icon {
    font-size: 2rem;
    margin-bottom: .4rem;
}

.skills-container h3 {
    font-size: 1.6rem;
    margin-bottom: .4rem;
}