.resume-head {
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
    text-align: center;
    padding: 2rem 2rem 0;
}

.resume-contact {
    padding: 2rem;
    border-bottom: solid 1px grey;
}

.contact-item {
    display: flex;
    justify-content: space-between;
}